<ion-view>
    <ion-nav-title>{{ unknown.name || plant.scientific }}</ion-nav-title>
    <ion-content>
        <div ng-show="unknown">
            <h2>{{ unknown.name }}</h2>
            <div class="row">
                <div class="col-33">Code</div>
                <div class="col">{{ unknown.code }}{{ unknown.idCode ? ' (' + unknown.idCode + ')': ''}}</div>
            </div>
            <div class="row">
                <div class="col-33">Collected</div>
                <div class="col">{{ unknown.collectedDate }} {{ unknown.collector }}</div>
            </div>
            <div class="row">
                <div class="col-33">Plot</div><div class="col">{{ unknown.plot }}</div>
            </div>
            <div class="row">
                <div class="col-33">Habitat</div><div class="col">{{ unknown.habitat }}</div>
            </div>
            <div class="row">
                <div class="col-33">Description</div><div class="col">{{ unknown.description }}</div>
            </div>
            <h3 ng-show="unknown.synonyms.length > 0">Synonyms</h3>
            <div class="row" ng-repeat="synonym in unknown.synonyms">
                <a class="col-25" ui-sref="detail({id:synonym._id})">{{ synonym.code }}</a>
                <div class="col scientific">{{ synonym.name }}</div>
            </div>
        </div>
        <div ng-show="plant">
            <h2>{{ plant.scientific }}</h2>
            <h3>{{ plant.common }}</h3>
            <a href="http://plants.usda.gov/core/profile?symbol={{ plant.code }}">USDA</a>
            <div class="plant-detail">
                <div class="row">
                    <div class="col">Code</div><div class="col">{{ plant.code }}</div>
                </div>
                <div class="row">
                    <div class="col">Family</div><div class="col">{{ plant.family }} ({{ plant.familyCommon }})</div>
                </div>
                <div class="row">
                    <div class="col">Growth Form</div><div class="col">{{ plant.growth.join(', ') }}</div>
                </div>
            </div>
            <h3 ng-show="plant.synonyms.length > 0">Synonyms</h3>
            <div class="row" ng-repeat="synonym in plant.synonyms">
                <div class="col-25">{{ synonym.code }}</div>
                <div class="col scientific">{{ synonym.scientific }}</div>
            </div>
            <div class="plant-thumb">
                <img src="{{ thumbnail }}">
                <div class="thumb-caption">{{ caption }}</div>
            </div>
        </div>
        <pl-gallery images="photos"></pl-gallery>
    </ion-content>
</ion-view>
