/* Adjust right padding on list items */
.list .item-content {
    padding: 16px;
}

/* Plant list flexbox */
.plant-list .item-content {
    display: -webkit-box;      /* iOS */
    display: -webkit-flex;     /* Chrome */
    display: flex;             /* spec */
    -webkit-align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.col-code {
    overflow: hidden;
    width: 4em;
    font-family: Consolas, Menlo, monospace;
}

.col-name {
    -webkit-box-flex: 1;    /* iOS */
    -webkit-flex: 1;        /* Chrome */
    flex: 1;                /* Spec */
    line-height: 1.3;
}

.col-name > div {
    overflow: hidden;
    text-overflow: ellipsis;
}

.col-code :last-child,
.col-name :last-child {
    font-size: 0.7em;
    color: gray;
}

.col-growth > div {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    vertical-align: middle;
    font-size: .8em;
    font-weight: bold;
    margin-left: 2px;
    color: rgba(0,0,0,0.75);
}

/* Row highlight */
.id-2014 .item-content {
    background-color: lightgoldenrodyellow !important;
}

.id-2015 .item-content {
    background-color: #b1f4b3 !important;
}

/* Growth form */

.growth-graminoid {
    background-color: tan;
}

.growth-fern {
    background-color: lightblue;
}

.growth-forb {
    background-color: yellowgreen;
}

.growth-shrub {
    background-color: #a27fea;
}

.growth-tree {
    background-color: lightskyblue;
}

.growth-vine {
    background-color: darkorange;
}


/* Plant detail table */
.plant-detail .col:first-child {
    font-weight: bold;
}

/* Text styles */
.scientific {
    font-style: italic;
}

/* Hamburger Menu */
.expand-collapse {
    font-size: 1.2em;
    min-width: 18px;
    display: inline-block;
}


/* Modal fix */
@media (max-width: 679px) {
    .active .modal-backdrop-bg {
        opacity: .5;
    }
    .modal-backdrop-bg {
        -webkit-transition: opacity 300ms ease-in-out;
        transition: opacity 300ms ease-in-out;
        background-color: #000;
        opacity: 0;
    }
    .modal-wrapper .modal {
        background: transparent;
    }
}

.photo-gallery {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
    background: transparent;
}

.photo-gallery img {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}

.photo-gallery .slider {
    width: 100%;
    height: 100%;
}
