/* Adjust right padding on list items */
.list .item-content {
    padding: 16px;
}

/* Plant list flexbox */
.plant-list .item-content {
    display: -webkit-box;      /* iOS */
    display: -webkit-flex;     /* Chrome */
    display: flex;             /* spec */
    -webkit-align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.col-code {
    width: 4em;
    font-family: Consolas, monospace;
}

.col-name {
    -webkit-box-flex: 1;    /* iOS */
    -webkit-flex: 1;        /* Chrome */
    flex: 1;                /* Spec */
    line-height: 1.3;
}

.col-name > div {
    overflow: hidden;
    text-overflow: ellipsis;
}

.col-name .scientific {
    font-style: italic;
}

.col-name .common {
    font-size: 0.7em;
    color: gray;
}

.col-growth > div {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    vertical-align: middle;
    font-size: .8em;
    font-weight: bold;
    margin-left: 2px;
    color: rgba(0,0,0,0.75);
}

/* Row highlight */
.id-2014 .item-content {
    background-color: lightgoldenrodyellow !important;
}

.id-2015 .item-content {
    background-color: lightgreen !important;
}

/* Growth form */

.growth-graminoid {
    background-color: tan;
}

.growth-fern {
    background-color: lightblue;
}

.growth-forb {
    background-color: yellowgreen;
}

.growth-shrub {
    background-color: #a27fea;
}

.growth-tree {
    background-color: lightskyblue;
}

.growth-vine {
    background-color: darkorange;
}


/* Plant detail table */
.plant-detail .col:first-child {
    font-weight: bold;
}